.card__button-delete {
  width: 18px;
  height: 19px;
  background-image: url(../../../images/logo/logo-delete.svg);
  background-size: cover;
  border-style: none;
  position: absolute;
  top: 18px;
  right: 16px;
}

.card__button-delete:hover {
  opacity: 0.6;
}
