.card__button-like {
  width: 100%;
  min-width: 22px;
  height: 19px;
  background-image: url(../../../images/logo/logo-like_inactive.svg);
  background-size: contain;
  border-style: none;
}

.card__button-like:hover {
  opacity: 0.5;
}
