.header__button {
  margin: 0 0 0 24px;
  padding: 0;
  background-color: transparent;
  border: none;
  text-decoration: none;
  font-weight: 400;
  color: #fff;
  transition: opacity 0.2s ease;
}

.header__button:hover {
  opacity: 0.6;
}
